.defaultCell {
    height: 25px;
    width: 25px;
    background-color: black;
    /* border-radius: 2%; */
    border-color: green;
    border-style: solid;
    border-width: 1px;
}

.opponentCell {
    height: 8px;
    width: 8px;
    background-color: black;
    border-color: green;
    border-style: solid;
    border-width: 1px;
}

.ICell {
    background-color: cyan;
}

.OCell {
    background-color: yellow;
}

.SCell {
    background-color: darkgreen;
}

.ZCell {
    background-color: red;
}

.TCell {
    background-color: purple;
}

.JCell {
    background-color: orange;
}

.LCell {
    background-color: blue;
}

.preview {
    border-color: gold;
}

.line {
    display: flex;
}

.freezeCell {
    background-color: transparent;
}

.fCell {
    background-color: white;

}

.show {
    border: solid;
}